body{
	background: url(../img/lock.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
}


.container{
	width: 450px;
	margin: 0px auto;
	color: white;
}

.Reset-password{

	background-color: #1d151566;
    width: 200px;
    height: 400px;
    margin: 0px auto;
    display: block;
    padding: 10px;
}
